<ion-list>
    <ion-item>
        <ion-range min="0" max="200" color="secondary" dualKnobs="true" (ionChange)="changeRange($event)">
            <ion-label slot="start">{{ IFiltros.precio[0] }}€</ion-label>
            <ion-label slot="end">{{ IFiltros.precio[1] }}€</ion-label>
        </ion-range>
    </ion-item>
    <ion-title>Marcas</ion-title>
    <ion-item *ngFor="let m of marcas; index as i">
        <ion-checkbox (click)="selectmarca(m.nombre_marca, i)"> </ion-checkbox>
        <p>{{m.nombre_marca}}</p>
    </ion-item>
    <ion-title>Categorias</ion-title>
    <ion-button color="light" (click)="aplicar()" routerLink="articulos">Aplicar</ion-button>
    <ion-button color="light" (click)="reiniciar()" routerLink="articulos">Reiniciar</ion-button>
</ion-list>