<ion-list>
    <ion-item>
        <ion-range min="0" max="1000" color="secondary" dualKnobs="true" (ionChange)="changeRange($event)">
            <ion-label slot="start">{{ IFiltros.precios[0] }}€</ion-label>
            <ion-label slot="end">{{ IFiltros.precios[1] }}€</ion-label>
        </ion-range>
    </ion-item>
    <ion-title>Marcas</ion-title>
    <ion-item *ngFor="let m of marcas">
        <ion-checkbox> </ion-checkbox>
        <p>{{m.nombre_marca}}</p>
    </ion-item>
    <ion-title>Categorias</ion-title>
    <ion-item *ngFor="let c of categorias">
        <ion-checkbox> </ion-checkbox>
        <p>{{c.nombre_categoria}}</p>
    </ion-item>
</ion-list>