div {
    width: 100%;
    height: 60px;
    bottom: 0px;
    opacity: 1;
    background: rgba(0, 0, 0, 0.192);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(114, 107, 32, 0.71);
}

.delete {
    margin-top: 10px;
    margin-left: 10px;
    color: rgb(38, 122, 38);
}

ion-title {
    color: white;
}

ion-content {
    --background: none;
    background-color: rgba(241, 236, 186, 0.71);
}

ion-icon {
    height: 30px;
    width: 30px;
    --color: none;
    color: rgb(160, 22, 22);
}

ion-img {
    object-fit: cover !important;
    height: 200px;
}