<app-header seccion="Categorias"></app-header>


<ion-content *ngIf="usuario">
    <ion-icon class="delete" name="add-outline" routerLink="newcategoria"></ion-icon>
    <ion-card *ngFor="let c of categorias">
        <ion-img src="http://161.97.171.29/apiprueba/public/img/{{c.logo}}" [routerLink]="[ 'articulos', c.categoriaid]"></ion-img>
        <div>
            <ion-title>{{c.nombre_categoria}} </ion-title>
            <ion-icon *ngIf="usuario.rol == 'admin'" name="trash-outline" (click)="borrarcat(c.categoriaid)"></ion-icon>
            <ion-icon *ngIf="usuario.rol == 'admin'" name="create-outline" [routerLink]="[ 'editcategoria', c.categoriaid]"></ion-icon>
        </div>
    </ion-card>
</ion-content>

<ion-content *ngIf="!usuario">
    <ion-card *ngFor="let c of categorias">
        <ion-img src="http://161.97.171.29/apiprueba/public/img/{{c.logo}}" [routerLink]="[ 'articulos', c.categoriaid]"></ion-img>
        <div>
            <ion-title>{{c.nombre_categoria}} </ion-title>
        </div>
    </ion-card>
</ion-content>