<app-header seccion="FaQ"></app-header>
<ion-content>
    <ion-title class="ion-text-center">Atención al cliente</ion-title>
    <h5>¿Cuando llegara mi pedido?</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, cupiditate labore ratione id delectus iusto nihil quod reprehenderit rerum saepe vel, aliquid eveniet quas quae ipsam quam doloribus molestias soluta?</p>
    <h5>¿Cuales son los metodos de pago aceptados?</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, cupiditate labore ratione id delectus iusto nihil quod reprehenderit rerum saepe vel, aliquid eveniet quas quae ipsam quam doloribus molestias soluta?</p>
    <h5>Devoluciones</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, cupiditate labore ratione id delectus iusto nihil quod reprehenderit rerum saepe vel, aliquid eveniet quas quae ipsam quam doloribus molestias soluta?</p>
</ion-content>