ion-menu-toggle {
    margin: 2px;
}

.header {
    --background: none;
    background-color: rgb(237, 234, 209, 0.71);
    font-size: 14px;
    height: 70px;
}

ion-item {
    font-size: 14px;
}

a {
    margin-left: 5px;
    margin-right: 5px;
    color: black;
}

p {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    margin-top: 40px;
    display: flex !important;
    margin-left: 20px;
}