ion-img {
    height: 150px;
    margin-top: 15px;
}

ion-content {
    --background: none;
    background-color: rgba(241, 236, 186, 0.71);
}

ion-title {
    --color: black;
    font-size: 18px;
}

ion-card-content {
    color: black;
    font-size: 11px;
}