<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-menu-button></ion-menu-button>
            <ion-title>{{seccion}}</ion-title>
            <ion-icon class="perfil-icon" name="person-sharp" slot="end" routerLink="/perfil"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
    <ion-searchbar [(ngModel)]="texto" placeholder="Buscar..." inputmode="text" (ionChange)="buscar($event)" [debounce]="250">

    </ion-searchbar>

    <ion-list *ngIf="texto !== ''">
        <ion-item class="error">No se ha encontrado :{{texto}}</ion-item>
        <ion-item *ngFor="let articulo of articulos | filter:texto; index as i" (click)="texto = articulo.nombre_articulo ">
            <!-- <ion-item *ngIf="i == 0" class="error">No se ha encontrado :{{texto}}</ion-item> -->
            <p *ngIf="articulo.length != 0">{{ articulo.nombre_articulo }}</p>
        </ion-item>
    </ion-list>
</ion-header>